* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  display: block;
  background-color: seagreen;
}

.heading {
  position: absolute;
  z-index: 1000;
}

.signin-form {
  display: flex;
  margin: 150px auto;
  width: 500px;
  height: 400px;
  margin-left: 500px;
  background-color: red;
}

.sign-image {
  width: 500px;
  height: 150px;
  position: relative;
  filter: blur(0.5px);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}
.input {
  display: flex;
}
